.bg-color{
    background-color: rgb(0, 0, 0);
}
h3{
    color: burlywood;
}
p{
    color: rgb(138, 0, 0);
    font-size: 20px;
    font-weight: bold;
    align-items: justify;
}

body{
    background-color: rgb(0, 0, 0);
}

#list-hobi {
    color: white;
}

.sub {
    color: orange;
}